<!DOCTYPE html>
<html>

    <head>
        <title>Chroma cam</title>
        <link rel="stylesheet" href="/css/style.css" type="text/css" />
        <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
        <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />
    </head>

    <body>
        
        <header>
            
            <h1>
                <i class="icon icon-facetime-video"></i>
                Chroma cam
            </h1>

            <nav>
                <ul>
                    <li><a id="attribution" href="#attribution-popup"><i class="icon icon-question-sign"></i></a></li>
                </ul>
            </nav>
            
            <div class="clear"></div>

        </header>
        
        <aside>

            <section id="instructions">
                <ol>
                    <li>Turn on your webcam &amp; accept the browser popup</li>
                    <li>Point the webcam to a uniform color surface.<br />Saturated green works best: <i class="icon icon-sign-blank"></i></li>
                    <li>Move away from the scene, and click <a href="#">calibrate</a></li>
                    <li>Now choose from any of the background photos &amp; videos below, and have fun!</li>
                </ol>
                <i class="icon icon-hand-down"></i>
            </section>
            
            <ul id="backgrounds">
                {{#each videos}}
                    <li data-type="video" data-file="{{url}}">
                        <i class="icon icon-play"></i>
                        <img src="{{thumbnail}}" />
                    </li>
                {{/each}}
                {{#each photos}}
                    <li data-type="photo" data-file="{{url}}">
                        <img src="{{url}}" />
                    </li>
                {{/each}}
            </ul>

        </aside>
        
        <section id="main">
            <canvas id="output" width="640" height="480">
                <p>Sorry your browser does not support HTML5</p>
            </canvas>
            <a href="#"><i class="icon icon-resize-full"></i>full screen</a>
        </section>
        
        <div id="source">
            <video id="webcam" autoplay=""></video>
            <video id="backgroundVideo" loop="loop" preload="auto"></video>
            <img id="backgroundPhoto" />
        </div>
        
        <div id="attribution-popup" class="white-popup-block mfp-hide">
            <button title="Close (Esc)" type="button" class="mfp-close">×</button>
            <p>Many backgrounds used in this demo are under Creative Commons license.</p>
            <p>Thanks to the following photographers:</p>
            <ul>
                {{#each attribution}}
                    <li>
                        <a href="{{.}}">{{.}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
        
        <script src="/js/jquery-2.0.3.min.js"></script>
        <script src="/js/jquery.magnific-popup.min.js"></script>
        <script src="/js/seriously.js"></script>
        <script src="/js/seriously.chroma.js"></script>
        <script src="/js/seriously.blend.js"></script>
        <script src="/js/script.js"></script>
        
        <script>
            $(document).ready(function() {
                window.ChromaCam.start();
                $('#backgrounds li').on('click', window.ChromaCam.loadBackground);
                
                $('#attribution').magnificPopup({
                    type: 'inline',
                    preloader: false,
                    modal: true,
                    closeOnBgClick: true,
                    closeBtnInside: true
                });
                $(document).on('click', '.popup-modal-dismiss', function(e) {
                    e.preventDefault();
                    $.magnificPopup.close();
                });
            });
        </script>

    </body>

</html>
